
<!--<div class="card my-6" id="add Comment">-->

<div id="postComment">
<!--<h2>Comments</h2>-->
          <div>
            <textarea id="commentBox" [(ngModel)]="commentText" cols="50" placeholder="Add a comment" rows="3"></textarea><br/>
          <button  id="addComment" (click)="addComment()">Add </button>
          </div>
</div>
<!--</div>-->



<div class="card my-5">
  <div class="table-wrapper-scroll-y my-custom-scrollbar" id="comments">
    <table class="table table-bordered table-striped" id="comment list">
      <thead class="thead-dark">
      <tr>
        <th scope="col">USER</th>
        <th scope="col">COMMENT</th>
        <th scope="col">POSTED</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let comment of comments">
        <td> {{comment.userId}} </td>
        <td>"{{ comment.text }}"</td>
        <td>{{ comment.createdDate | date:"MM/dd/yy"}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
