#postComment{
  width: 500px;
  padding: 10px;
  border: 5px solid gray;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  line-height: 2em;
  position:relative;
  top:10px;
}


#comments{
  background-color: #e8e8e8;
  height: auto;
}

#commentBox{
  /*width: 500px;*/
}

#addComment{
  text-align: center;
  background-color: white;
}

comment list{
  overflow-y:scroll;
  height:auto;
  display:block;
}

.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
