<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/videos" class="btn btn-info">Videos</a></li>
            <li class="list-inline-item"><a routerLink="/adduser" class="btn btn-info">Upload Video</a></li>
          </ul>
        </div>
      </div>
      <div>
        <video class="center" id="player" height="300" width="420" autoplay="autoplay" controls>
          <source src="http://localhost:8080/videos/33" type="video/mp4">
          Your current browser is unsupported.
        </video>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
